<header class="header">
  <div class="logo">
<!--    <img src="images/logo.png" alt="Картинка">-->
  </div>

  <div class="search">
    <input type="search" name="q" placeholder="Поиск по каталогу"> <input id="search" type="submit"
                                                                          value="Найти">
  </div>


  <div id="basket" class="basket" onclick="openPopup()">
    <button class="ui icon button circular" ></button>
    <img class="basket-images" src="images/cart.jpg" alt="Картинка">
    <span id="basket-counter" class="basket-counter">0</span>
  </div>
<!--  (click)="showCount()"-->

  <div class="profile">
<!--    <img class="profileImg" src="images/profile.jpg">-->
    <span class="profile-name">Lizaveta G.</span>
  </div>

  <template id="popup">
    <div class="popup">
<!--				<span class="product-in-basket">In your cart:<img class="close" id="close" onclick="closePopup()"-->
<!--                                                          src="images/cross-popup.png"></span>-->
      <div class="product-line">
        <div class="product-line-item">Наименование</div>
        <div class="product-line-item">Кол-во</div>
        <div class="product-line-item">Цена</div>
      </div>
      <div class="popup-list" id="itemsList"></div>
    </div>
  </template>
  <!-- <template id="jsPopup">Продукты в корзине
    <div type="text" class="jsRowPopup"></div>
    <button onclick="closePopup()"type="button" class="closePopup">X</button>
  </template> -->
  <div class="app"></div>
  <template id="counterTemplate">
    <div>
      <button type="button" class="jsDecrease">-</button>
      <input type="text" class="jsValue" value="0">
      <button type="button" class="jsIncrease">+</button>
    </div>
  </template>
  <template id="row">
    <div class="row">
      <div class="product"></div>
      <div class="price"></div>
      <div class="counter"></div>
      <div class="delete" src="images/крестикпопап.png"></div>
    </div>
  </template>
  <main>
    <div id="wrapper"></div>

  </main>
  <!-- <button  onclick="openPopup()">Купить</button> -->


</header>
