
<div class="popup" >
  				<span class="product-in-basket">In your cart:<img  (click)="_closePopup()" class="close" id="close"
                                                          src="../../../assets/images/cross-popup.png"></span>
 <div *ngFor="let product of productListInCart">
   {{product.name}}
 </div>
  <button (click)="increment()">+</button>
  <span>{{cartCount}}</span>
  <button (click)="decrement()">-</button>
</div>









<!--  <div class="popup" >-->
<!--				<span class="product-in-basket">In your cart:<img  (click)="_losePopup()" class="close" id="close"-->
<!--                                                        src="../../../assets/images/cross-popup.png"></span>-->
<!--    <div class="product-line">-->
<!--      <div class="product-line">Наименование</div>-->
<!--      <div class="product-line-item">Кол-во</div>-->
<!--      <div class="product-line-item">Цена</div>-->
<!--    </div>-->
<!--    <div class="popup-list" id="itemsList"></div>-->
<!--    <div *ngFor="let product of productline" class="eight wide column">-->
<!--      <app-product-line [product]="product"></app-product-line>-->
<!--    </div>-->
<!--  </div>-->
