<!--<template id="popup">-->
  <div class="popup">
				<span class="product-in-basket">In your cart:<img class="close" id="close" onclick="closePopup()"
                                                          src="images/крестикпопап.png"></span>
    <div class="product-line">
      <div class="product-line-item">Наименование</div>
      <div class="product-line-item">Кол-во</div>
      <div class="product-line-item">Цена</div>
    </div>
    <div class="popup-list" id="itemsList"></div>
  </div>
<!--</template>-->
<!-- <template id="jsPopup">Продукты в корзине
  <div type="text" class="jsRowPopup"></div>
  <button onclick="closePopup()"type="button" class="closePopup">X</button>
</template> -->
<div class="app"></div>
<template id="counterTemplate">
  <div>
    <button type="button" class="jsDecrease">-</button>
    <input type="text" class="jsValue" value="0">
    <button type="button" class="jsIncrease">+</button>
  </div>
</template>
<template id="row">
  <div class="row">
    <div class="product"></div>
    <div class="price"></div>
    <div class="counter"></div>
    <div class="delete" src="images/крестикпопап.png"></div>
  </div>
</template>
<main>
  <div id="wrapper"></div>

</main>

<div *ngFor="let product of productline" class="eight wide column">
  <app-productline [product]="product"></app-productline>
</div>
