<div class="ui container app-container-user-profile">
  <span><img  (click)="_onCloseUserProfile()" class="close" id="close"
        src="../../../assets/images/cross-popup.png"></span>
  <form class="ui form">
    <div class="field">
      <label>First Name</label>
      <input type="text" name="first-name" placeholder="First Name">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input type="text" name="last-name" placeholder="Last Name">
    </div>
    <button class="ui button" type="submit">Submit</button>
  </form>
</div>
